<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link 
    rel="stylesheet" 
    href="/static/css/bootstrap.min.css" crossorigin="anonymous">
    <style type="text/css">
        body{
            background-color: #00aa51;
        }
        .col-centered{
            float: none;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="error-message-container" class="container-fluid" style="display:none;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="error-div"  style="color:#ffe700; font-size:28pt;font-weight: bolder; text-align:center;">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>

    <div id="landing-page-container" class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div  style="color:#ffe700; font-size:28pt;font-weight: bolder; text-align:center;">
                    CONGRATULATIONS!
                </div>
                <div  style="color:#ffffff; font-size:20pt;font-weight: bold; text-align:center;">
                    YOU HAVE REGISTERED WIFI SUCCESSFULLY.<br/>
                    ENJOY FREE WIFI SESSION FOR 15 MINUTES.
                </div>
                <div>
                    <img src="/static/img/7up-lad.png">
                </div>
                <div style="background-color:#00aa51; text-align: center;">
                        <img src="/static/img/7up-logo.png"><br/>
                        <span style="font-size:20pt;font-weight:bolder; color:#ffffff;">WIFI ZONE</span>
                    </div>
            </div>
            <div class="col-md-3"></div>

        </div>
        
        
        
    </div>

    


</div>

<script 
src="/static/js/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
src="/static/js/bootstrap.min.js" ></script>



</body>
</html>